---
key: 2
title: Personal Posts
permalink: /personal/
options: fullwidth
excerpt: Find my ramblings, blog posts, projects, and other random things that I'm doing at the moment here.
image: pic01.jpg
background-image: pic01.jpg
---

{%  if site.posts %}
  <hr style="margin:0 0 1em 0;" />
  <h4>What I'm Doing Now</h4>
  <p style="margin:0">Currently, I am...</p>
  <ul>
    <li>Freelance writing and editing</li>
    <li>Writing my first ever book</li>
    <li>Reading about the art of screenwriting</li>
  </ul>
​
  <span>Last updated February 2020.</span>

  <hr style="margin:1em 0 1em 0;" />

  <h4 style="margin:0">Blog Posts</h4>

    <ul style="list-style-type: none;">{%
      assign p = '9999'
%}{%  for post in site.categories.topics
%}{%    assign n = post.date | date: "%Y"
%}{%    if n != p
%}{%      assign p = n
%}
      <br /><h5>{{ n }}</h5>{%
        endif %}
      <li style="padding-bottom: 6px;"><code>[{{ post.date | date: "%d %b" }}]</code>&nbsp;
        <a href="{{ post.url | prepend: site.baseurl }}" style="white-space: nowrap;"><b>{{ post.title }}</b></a>&nbsp;
          {{ post.excerpt | strip_html | truncatewords: 12 }}</li>{%
      endfor
%}
    </ul>

{%  endif %}
